{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'user/css/user.css' %}">
{% block pagecontent %}
<div class="container p-0">
	<div class="row w-100 m-0">
		<h1 class="text-center w-100 m-auto">Utilisateurs qui suivent {{ artist.name }}</h1>
	</div>
	{% for follower in followers %}
	<div class="row w-100 m-0">
		<a href="/user/{{ follower.id_user }}/" class="w-100">
			<div class="col-md-1">
				{% if follower.profile_pic %}
				<img src="{{ follower.profile_pic.url }}" class="w-100 h-100">
				{% else %}
				<img src="https://storage.cloud.google.com/django-music-streaming-projetweb/media/img/user_avatar/default_profile.png?_ga=2.227823261.-1066403754.1557338354&_gac=1.125043448.1557338606.CjwKCAjw_MnmBRAoEiwAPRRWWxh1t7cOnX5BDfRslZ1pUaXodco95ZZO7NCk0sykenlvSNtv-RhBxhoCIOYQAvD_BwE" class="w-100 h-100">
				{% endif %}
			</div>
			<div class="col-md-11">
				{{ follower.pseudo }}
			</div>
		</a>
	</div>
	{% endfor %}
</div>
{% endblock %}