<!DOCTYPE html>
<html>
<head>
    <title>FRZN. connexion</title>
</head>
<body>
    <h2>Connexion</h2>
    <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <div>
      <a href="/register/">Vous possédez déjà un compte ?</a>
    </div>
    <button type="submit">Se connecter</button>
    </form>
</body>
</html>