body, html{
	height: 100%;
}
.row{
	margin-left:0 !important;
}
#logo, #display_user, #nav_frzn{
	width: 100%;
}
#display_user, #nav_frzn{
	position: absolute;
}
#display_user{
	top:15%;
}
#nav_frzn{
	top: 35%;
}

#aside{
	padding:0;
}
#logo{
	position: absolute;
	top:0;
	margin-top: 10%;
	margin-bottom: 10%;
}
#display_user{
	margin-top: 5%;
	margin-bottom: 5%;
}
#footer{
	position: absolute;
	bottom:0;
	width:100%;
	margin:auto;
}
#nav_frzn a{
	padding-top:2%;
	padding-bottom:2%;
	padding-left:0;
	padding-right:0;
}

#logout{
	margin-left : 0 !important;
	margin-right : 0 !important;
}

#topnav{
	background-color: #011311;
	position: fixed;
	left: 0;
	height: 100%;
}

.navbar {
	width: 100%;
	height:10%;
}

.navbar-brand{
	height: 100%
}
.preview{
	width:95%;
	height:95%;
}

.wrapper{
	width:100%;
}
.mainsection{
	width: 100%
	padding: 0;
}