body, html{
	height: 100%;
}
.row{
	margin-left:0 !important;
}
#logo, #display_user, #nav_frzn{
	width: 100%;
}
#display_user, #nav_frzn{
	position: absolute;
}
#display_user{
	top:15%;
}
#nav_frzn{
	top: 35%;
}

#aside{
	padding:0;
}
#logo{
	position: absolute;
	top:0;
	margin-top: 10%;
	margin-bottom: 10%;
}
#display_user{
	margin-top: 5%;
	margin-bottom: 5%;
}
#footer{
	position: absolute;
	bottom:0;
	width:100%;
	margin:auto;
}
#nav_frzn a{
	padding-top:2%;
	padding-bottom:2%;
	padding-left:0;
	padding-right:0;
}

#logout{
	margin-left : 0 !important;
	margin-right : 0 !important;
}

#leftnav a{
	width:100%;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #01110f;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #031e1b;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.preview{
	width:95%;
	height:95%;
}

.mainsection{
	padding: 0;
}