body, html{
	height: 100%;
}
.row{
	margin-left:0 !important;
}
#display_user, #nav_frzn{
	width: 100%;
}
#display_user, #nav_frzn{
	position: absolute;
}

#display_user{
	top:15%;
}

#nav_frzn{
	top: 35%;
}

#display_user{
	margin-top: 5%;
	margin-bottom: 5%;
}
#footer{
	position: absolute;
	bottom:0;
	width:100%;
	margin:auto;
}
#nav_frzn a{
	padding-top:2%;
	padding-bottom:2%;
	padding-left:0;
	padding-right:0;
}
#profile_miniature{
	height:100%;
}
.navbar-text{
	height: 100%;
	padding:0 !important;
}

#logout{
	margin-left : 0 !important;
	margin-right : 0 !important;
}

#topnav{
	background-color: #011311;
}

#logo{
	height: 100%;
}
#content{
	margin-top:2%;
}
.navbar {
	width: 100%;
	height:10%;
}

.navbar-nav{
	margin: auto;
	text-align:center;
}

.navbar-brand{
	height: 100%
}

.cover{
	position: relative;
	overflow: hidden;
	padding-bottom: 100%;
}

.preview{
	position: absolute;
}

.profile_pic{
	width: 20em;
	height: 20em;
	margin: auto;
}

.foll_count{
	width: 10%;
	margin: auto;
}
.wrapper{
	width:100%;
}
.mainsection{
	width: 100%;
	padding: 0;
}