{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'user/css/user.css' %}">
{% block pagecontent %}
<div class="container p-0">
	<div class="row w-100 m-0">
		<h1 class="text-center w-100 m-auto">Utilisateurs qui suivent {{ user.pseudo }}</h1>
	</div>
	{% for follower in followers %}
	<div class="row w-100 m-0">
		<a href="/user/{{ follower.id_user }}/" class="w-100">
			<div class="col-md-1">
				{% if follower.profile_pic %}
				<img src="{{ follower.profile_pic.url }}">
				{% else %}
				<img src="{% static 'img/default_profile.png' %}">
				{% endif %}
			</div>
			<div class="col-md-11">
				{{ follower.pseudo }}
			</div>
		</a>
	</div>
	{% endfor %}
</div>
{% endblock %}