{% extends "base.html" %}
{% load static %}
{% block headincludes %}
<link rel="stylesheet" type="text/css" href="{% static 'browse/css/browse.css' %}">
{% endblock %}
{% block pagecontent %}
<div id="content" class="container p-0 h-100">
	<div id="search_module">
		{% csrf_token %}
		<div id="searchbar">
			<input type="text" name="search" id="search" placeholder="Recherche" class="form-control">
		</div>
		<div id="results">
			<ul class="list-group" id="result">

			</ul>
		</div>
	</div>
	<div class="modal fade" id="songAddModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<form method="post">
					{% csrf_token %}
					<div class="modal-header">
						<div class="container">
							<div class="row">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="row">
								<h5>Sélectionner la playlist</h5>
							</div>
						</div>
					</div>
					<div class="modal-body">
						{% for playlist in created_playlists %}
							<div class="row w-100">
								<button id="addsong" type="button" name="{{ playlist.id_playlist }}" class="btn">
									{% if playlist.playlist_img %}
									<img src="{{ playlist.playlist_img.url }}" class="w-25">
									{% else %}
									<img src="{% static 'img/no_image.png' %}" class="w-25">
									{% endif %}
									{{ playlist.name }}
								</button>
							</div>
						{% endfor %}
						<div id="already_in"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="songAddPlaylistModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<form method="post" id="playlist_with_song" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="modal-header">
						<h5 class="modal-title">Créer une playlist</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
							{{ form.as_p }}
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
						<button id="submit_playlist" type="submit" class="btn btn-primary">Créer</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="pagecontent" class="container h-100">
		<div class="row w-100 m-0">
			<div class="row w-100 m-0">
				<a href="/browse/latest_playlists/"><h3>Dernières playlists ></h3></a>
			</div>
			<div class="row w-100 m-0">
				{% for playlist in result.playlists %}
				<div class="col-md-3">
					<a href="/playlist/{{ playlist.id_playlist }}/">
						<div class="row">
							{% if playlist.playlist_img %}
							<img src="{{ playlist.playlist_img.url }}">
							{% else %}
							<img src="{% static 'img/no_image.png' %}">
							{% endif %}
						</div>
						<div class="row">
							{{ playlist.name }}
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="row w-100 m-0">
			<div class="row w-100 m-0">
				<a href="/browse/latest_albums/"><h3>Derniers albums ></h3></a>
			</div>
			<div class="row w-100 m-0">
				{% for album in result.albums %}
				<div class="col-md-3">
					<a href="/album/{{ album.id_album }}/">	
						<div class="row">
							<img src="{{ album.album_img.url }}">
						</div>
						<div class="row">
							{{ album.title }}
						</div>
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function(){
	var searchBarReference = document.querySelector('#searchbar');
	var searchBarPopper = document.querySelector('#results');
	var searchBarPopperInstance = new Popper(searchBarReference, searchBarPopper, {
		placement : 'bottom',
		modifiers : {
			offset : {
				enabled : true,
				offset : '0,0'
			},
			applyStyle : { enabled : false }
		}
	});
	$('#results').hide();
	$('#search').keyup(function(){
		$('#results').show();
		$('#result').html('');
		$('#state').val('');
		var searchField = $('#search').val();
		var expression = new RegExp(searchField, "i");
		var songs = {{ songsjson|safe }};
		var albums = {{ albumsjson|safe }};
		var artists = {{ artistsjson|safe }};
		var playlists = {{ playlistsjson|safe }};
		var users = {{ usersjson|safe }};
		var saved_playlists = {{ saved_playlists_json|safe }};
		var saved_albums = {{ saved_albums_json|safe }};
		$('#result').append('<li class="list-group-item searchcategory">Morceaux</li>')
		$.each(songs, function(key, value)
		{
			if (value.fields.title.search(expression) != -1)
			{
				$('#result').append(
					'<li class="list-group-item">'+value.fields.title
					+'<button data-toggle="modal" data-target="#songAddModal" type="button" title="Ajouter à une playlist" name="'+value.pk
					+'" class="add_song btn w-25"><img src="{% static "img/add_song.png" %}" class="w-50 h-25"></button></li>');
			}
		});
		$('#result').append('<li class="list-group-item searchcategory">Playlists</li>')
		$.each(playlists, function(key, value)
		{
			var is_saved = false;
			if (value.fields.name.search(expression) != -1)
			{
				$.each(saved_playlists, function(pkey, pvalue){
					if (pvalue.pk == value.pk)
					{
						is_saved = true;
						return false;
					}
				});
				if (is_saved)
				{
					$('#result').append('<li class="list-group-item"><a href="/playlist/'+value.pk+'">'+value.fields.name+'</a><button title="Retirer de la bibliothèque" type="button" name="'+value.pk+'" class="unsave_playlist_search btn w-25"><img src="{% static "img/unsave.png" %}" class="w-50 h-25"></button></li>');
				}
				else
				{
					$('#result').append('<li class="list-group-item"><a href="/playlist/'+value.pk+'">'+value.fields.name+'</a><button title="Sauvegarder" type="button" name="'+value.pk+'" class="save_playlist_search btn w-25"><img src="{% static "img/save.png" %}" class="w-50 h-25"></button></li>');
				}
			}
		});
		$('#result').append('<li class="list-group-item searchcategory">Albums</li>')
		$.each(albums, function(key, value)
		{
			var is_saved = false;
			if (value.fields.title.search(expression) != -1)
			{
				$.each(saved_albums, function(pkey, pvalue){
					if (pvalue.pk == value.pk)
					{
						is_saved = true;
						return false;
					}
				});
				if (is_saved)
				{
					$('#result').append('<li class="list-group-item"><a href="/album/'+value.pk+'">'+value.fields.title+'</a><button title="Retirer de la bibliothèque" type="button" name="'+value.pk+'" class="unsave_album_search btn w-25"><img src="{% static "img/unsave.png" %}" class="w-50 h-25"></button></li>');
				}
				else
				{
					$('#result').append('<li class="list-group-item"><a href="/album/'+value.pk+'">'+value.fields.title+'</a><button title="Sauvegarder" type="button" name="'+value.pk+'" class="save_album_search btn w-25"><img src="{% static "img/save.png" %}" class="w-50 h-25"></button></li>');
				}
			}
		});
		$('#result').append('<li class="list-group-item searchcategory">Artists</li>')
		$.each(artists, function(key, value)
		{
			if (value.fields.name.search(expression) != -1)
			{
				$('#result').append('<li class="list-group-item"><a href="/artist/'+value.pk+'">'+value.fields.name+'</a></li>');
			}
		});
		$('#result').append('<li class="list-group-item searchcategory">Users</li>')
		$.each(users, function(key, value)
		{
			if (value.fields.pseudo.search(expression) != -1)
			{
				$('#result').append('<li class="list-group-item"><a href="/user/'+value.pk+'">'+value.fields.pseudo+'</a></li>');
			}
		});
 	});
	$('#pagecontent').click(function(){
	    $('#result').html('');
	    $('#results').hide();
	});
});
</script>
{% endblock %}