{% extends "base.html" %}
{% block pagecontent %}
<div class="container p-0">
	<div class="row w-100 m-0">
		<h1 class="text-center w-100 m-auto">Les 20 dernières playlists</h1>
	</div>
	{% for playlist in playlists %}
	<div class="row w-100 m-0">
		<a href="/playlist/{{ playlist.id_playlist }}/" class="w-100">
			<div class="col-md-1">
				{% if playlist.playlist_img %}
				<img src="{{ playlist.playlist_img.url }}" class="w-100">
				{% else %}
				<img src="{% static 'img/no_image.png' %}" class="w-100">
				{% endif %}
			</div>
			<div class="col-md-11 w-100">
				<p>{{ playlist.name }}</p>
			</div>
		</a>
	</div>
	{% endfor %}
</div>
{% endblock %}