{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'album/css/album.css' %}">
{% block pagecontent %}
<div class="container p-0">
	<div class="row w-100 m-0">
		<div class="row w-100 m-0">
			<img src="{{ Album.album_img.url }}" class="w-50">
		</div>
		<div class="row w-100 m-0">
			<h1 class="text-center w-100 m-auto">{{ Album.title }}</h1>
		</div>
		<div class="row w-100 m-0">
			<h3 class="text-center w-100 m-auto">Par <a href="/artist/{{ Album.main_artist.id_artist }}/">{{ Album.main_artist.name }}</a></h3>
		</div>
		<div class="row w-100 m-0">
				<p class="w-100 m-auto text-center">Date de sortie: {{ Album.out_date }}</p>
		</div>
		<div class="row w-100 m-0">
		{% if not has_saved %}
			<button id="save_album" type="button" name="{{ Album.id_album }}" class="btn btn-primary">Sauvegarder</button>{% csrf_token %}
		{% else %}
			<button id="unsave_album" type="button" name="{{ Album.id_album }}" class="btn btn-secondary">Retirer de sa bibliothèque</button>{% csrf_token %}
		{% endif %}
		</div>
	</div>

	<div class="row w-100 m-0">
		<table>
			<tr>
				<th></th>
				<th>Titre</th>
				<th>Durée</th>
			</tr>
			{% for song in Songs %}
			<tr>
				<th><audio src="{{ song.file.url }}" preload controls></audio></th>
				<th>{{ song.title }}</th>
				<th>{{ song.duration }}</th>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div class="row w-100 m-0">

	</div>
</div>
{% endblock %}