<!DOCTYPE html>
{% load static %}
{% get_media_prefix as MEDIA %}
<html>
	<head>
		<title>FRZN. - Music Streaming Service</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>	<!-- avant les import bootstrap -->
		<script type="text/javascript" src="https://unpkg.com/popper.js@1.15.0/dist/umd/popper.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/mainstyle.css' %}">
		{% block headincludes %}
		{% endblock %}
	</head>
	<body>  
		<div class="wrapper row h-100 w-100">	
			<div id="leftnav" class="col-3">
				<div class="row d-block w-100">
					<div id="logo" class="text-center">
						<a href="/browse/"><img src="{% static 'img/logo.png' %}" class="w-25"></a>
					</div>
				</div>
				<div class="row text-center w-100">
					<div id="display_user" class="text-center">
						{% if request.COOKIES.avatar %}
						<img src="{{ request.COOKIES.avatar.url }}">
						{% else %}
						<img src="{% static 'img/default_profile.png' %}" class="w-25">
						{% endif %}
						{{ request.COOKIES.pseudo }}
					</div>
				</div>
				<div class="row w-100">
					<nav id="nav_frzn" class="nav flex-column text-center">
						<a href="/user/{{ request.COOKIES.id }}/" class="nav-link text-light w-100 d-block">Mon profil</a></li>
						<a href="/browse/" class="nav-link text-light w-100 d-block">Accueil</a></li>
					</nav>
				</div>
				<div class="row w-100">
					<footer id="footer" class="text-center">
						<div id="logout" class="row w-100">
							<a href="/logout/">Déconnexion</a>
						</div>
						<div class="row w-100">
							<a href="https://github.com/alexanderleecii/" target="_blank" class="text-light d-block">Couchy Alexander-Lee</a>
						</div>
					</footer>
				</div>
			</div>

			<div class="mainsection col-9">
			<section class="h-100">
				{% block pagecontent %}{% endblock %}
			</section>
			</div>
		</div>
	</body>
	<script>
		$(window).bind("pageshow", function(event) { //pageshow emitted when accessing session history (back button in this case)
		    if (event.originalEvent.persisted) { //persisted : boolean = if the page was cached when pageshow occurs
		        window.location.reload(); 		 //originalEvent extends the list of properties available for JQuery event object
		    }
		});
	</script>
	<script>
		$(document).on("click", ".add_song", function(){
			var id_song = $(this).attr("name");
			var ajaxLoading = false; //ajaxLoading permet d'éviter le double envoi du POST par la fonction AJAX
			$(document).on("click", "#addsong", function(event){
			    event.preventDefault();
			    if(!ajaxLoading)
			    {
			    	$.ajax({
				    	method: "POST",
			            url: "{% url 'add_song_ajax' %}",
			            data: {"id_playlist": $(this).attr("name"),
			            	   "id_song": id_song,
			            	   "csrfmiddlewaretoken": "{{ csrf_token }}"
			        	},
			            success: function(data){
			            	ajaxLoading = true;
			            	if (data.message == 0)
			            	{
			            		alert("Ce morceau est déjà dans cette playlist");
			            	}
			            }
				    })
				    $('#songAddModal').modal("hide");
			    }
			    
			});
		});
	</script>
	<script>
		$(document).on("click", "button[data-role='remove']", function(){
			var id_playlist = $("#playlist_songs").data("idplaylist");
			var id_song = $(this).data("id");
			$.ajax({
				method: "POST",
				url: "{% url 'remove_song_ajax' %}",
				data: {"id_song" : id_song,
					   "id_playlist": id_playlist,
					   "csrfmiddlewaretoken": "{{ csrf_token }}"
				},
				success: function(){
					$("#"+id_song).remove()
				}
			})
		});
	</script>
	<script>
		$(document).ready(function(){
			$(document).on("click", "#update_btn", function(){
				var id_playlist = $(this).data("id");
				var img = $("#playlist_header").find("img[data-target=img]").attr("src");
				var name = $("#playlist_header").find("h1[data-target=name]").text();
				var description = $("#playlist_header").find("p[data-target=description]").text();

				$("#name_update").val(name);
				$("#desc_update").val(description);
				$("#playlistUpdateModal").modal("toggle");
			});
			$("button[data-role=update]").click(function(){
				var id_playlist = $("#update_btn").data("id");
				var name = $("#name_update").val();
				
				var description = $("#desc_update").val();

				$.ajax({
					method: "POST",
					url: "{% url 'update_playlist_ajax' %}",
					async:false,
					data: {"id_playlist" : id_playlist,
						   "name" : name,
						   "description" : description,
						   "csrfmiddlewaretoken": "{{ csrf_token }}"
					},
					success: function(data){
						$("#playlist_header").find("h1[data-target=name]").text(name);
						$("#playlist_header").find("p[data-target=description]").text(description);
						$("#playlistUpdateModal").modal("toggle");
					}
				});
			});
		});
	</script>
	<script>
		$("button[data-role=delete]").on("click", function(){
			var id_playlist = $("#update_btn").data("id");
			$.ajax({
				method: "POST",
				url: "{% url 'delete_playlist_ajax' %}",
				data: {"id_playlist" : id_playlist,
					   "csrfmiddlewaretoken": "{{ csrf_token }}"
				},
				success: function(data){
					$("#playlistUpdateModal").modal("toggle");
				}
			});
		});
	</script>
	<script>
		$(document).on("click", "#save_playlist", function(){
		    $(this).attr("id", "unsave_playlist");
		    $(this).attr("class", "btn btn-secondary");
		    $(this).html("Retirer de sa bibliothèque");
		    $.ajax({
		    	method: "POST",
	            url: "{% url 'save_playlist_ajax' %}",
	            data: {"id_playlist": $(this).attr("name"),
	            	   "csrfmiddlewaretoken": "{{ csrf_token }}"
	        	},
	            success: function(){
	            }
		    })
		});
	</script>
	<script>
		$(document).on("click", "#unsave_playlist", function(){
		    $(this).attr("id", "save_playlist");
		    $(this).attr("class", "btn btn-primary");
		    $(this).html("Sauvegarder");
		    $.ajax({
		    	method: "POST",
	            url: "{% url 'unsave_playlist_ajax' %}",
	            data: {"id_playlist": $(this).attr("name"),
	            	   "csrfmiddlewaretoken": "{{ csrf_token }}"
	        	},
	            success: function(){
	            }
		    })
		});
	</script>
	<script>
		$(document).on("click", ".save_playlist_search", function(){
		    $(this).attr("class", "unsave_playlist_search btn w-25");
		    $(this).attr("title", "Retirer de sa bibliothèque");
		    $(this).html("<img src='{% static 'img/unsave.png' %}' class='w-50 h-25'>");
		    $.ajax({
		    	method: "POST",
	            url: "{% url 'save_playlist_ajax' %}",
	            data: {"id_playlist": $(this).attr("name"),
	            	   "csrfmiddlewaretoken": "{{ csrf_token }}"
	        	},
	            success: function(){
	            }
		    })
		});
	</script>
	<script>
		$(document).on("click", ".unsave_playlist_search", function(){
		    $(this).attr("class", "save_playlist_search btn w-25");
		    $(this).attr("title", "Sauvegarder");
		    $(this).html("<img src='{% static 'img/save.png' %}' class='w-50 h-25'>");
		    $.ajax({
		    	method: "POST",
	            url: "{% url 'unsave_playlist_ajax' %}",
	            data: {"id_playlist": $(this).attr("name"),
	            	   "csrfmiddlewaretoken": "{{ csrf_token }}"
	        	},
	            success: function(){
	            }
		    })
		});
	</script>
	<script>
		$(document).on("click", "#save_album", function(){
		    $(this).attr("id", "unsave_album");
		    $(this).attr("class", "btn btn-secondary");
		    $(this).html("Retirer de sa bibliothèque");
		    $.ajax({
		    	method: "POST",
	            url: "{% url 'save_album_ajax' %}",
	            data: {"id_album": $(this).attr("name"),
	            	   "csrfmiddlewaretoken": "{{ csrf_token }}"
	        	},
	            success: function(){
	            }
		    })
		});
	</script>
	<script>
		$(document).on("click", "#unsave_album", function(){
		    $(this).attr("id", "save_album");
		    $(this).attr("class", "btn btn-primary");
		    $(this).html("Sauvegarder");
		    $.ajax({
		    	method: "POST",
	            url: "{% url 'unsave_album_ajax' %}",
	            data: {"id_album": $(this).attr("name"),
	            	   "csrfmiddlewaretoken": "{{ csrf_token }}"
	        	},
	            success: function(){
	            }
		    })
		});
	</script>
	<script>
		$(document).on("click", ".save_album_search", function(){
		    $(this).attr("class", "unsave_album_search btn w-25");
		    $(this).attr("title", "Retirer de sa bibliothèque");
		    $(this).html("<img src='{% static 'img/unsave.png' %}' class='w-50 h-25'>");
		    $.ajax({
		    	method: "POST",
	            url: "{% url 'save_album_ajax' %}",
	            data: {"id_album": $(this).attr("name"),
	            	   "csrfmiddlewaretoken": "{{ csrf_token }}"
	        	},
	            success: function(){
	            }
		    })
		});
	</script>
	<script>
		$(document).on("click", ".unsave_album_search", function(){
		    $(this).attr("class", "save_album_search btn w-25");
		    $(this).attr("title", "Sauvegarder");
		    $(this).html("<img src='{% static 'img/save.png' %}' class='w-50 h-25'>");
		    $.ajax({
		    	method: "POST",
	            url: "{% url 'unsave_album_ajax' %}",
	            data: {"id_album": $(this).attr("name"),
	            	   "csrfmiddlewaretoken": "{{ csrf_token }}"
	        	},
	            success: function(){
	            }
		    })
		});
	</script>
	<script>
		$(document).on("click", "#follow", function(){
		    $(this).attr("id", "unfollow");
		    $(this).attr("class", "btn btn-secondary");
		    $(this).html("Ne plus suivre");
		    $.ajax({
		    	method: "POST",
	            url: "{% url 'follow_user_ajax' %}",
	            data: {"id_user": $(this).attr("name"),
	            	   "csrfmiddlewaretoken": "{{ csrf_token }}"
	        	},
	            success: function(){
	            	var nb_followers = $("#nb_followers").html();
				    $("#nb_followers").html(parseInt(nb_followers) + 1);
	            }
		    })    
		});
	</script>
	<script>
		$(document).on("click", "#unfollow", function(){
			    $(this).attr("id", "follow");
			    $(this).attr("class", "btn btn-primary");
			    $(this).html("Suivre");
			    $.ajax({
			    	method: "POST",
		            url: "{% url 'unfollow_user_ajax' %}",
		            data: {"id_user_unfollow": $(this).attr("name"),
		            	   "csrfmiddlewaretoken": "{{ csrf_token }}"
		        	},
		            success: function(){
		            	var nb_followers = $("#nb_followers").html();
					    $("#nb_followers").html(parseInt(nb_followers) - 1);
		            }
			    })
			});
	</script>
	<script>
		$(document).on("click", "#follow_artist", function(){
		    $(this).attr("id", "unfollow_artist");
		    $(this).attr("class", "btn btn-secondary");
		    $(this).html("Ne plus suivre");
		    $.ajax({
		    	method: "POST",
	            url: "{% url 'follow_artist_ajax' %}",
	            data: {"id_artist": $(this).data("id"),
	            	   "csrfmiddlewaretoken": "{{ csrf_token }}"
	        	},
	            success: function(){
	            }
		    })
		    var nb_followers = $("#nb_followers_artist").html();
			$("#nb_followers_artist").html(parseInt(nb_followers) + 1);
		});
	</script>
	<script>
		$(document).on("click", "#unfollow_artist", function(){
			    $(this).attr("id", "follow_artist");
			    $(this).attr("class", "btn btn-primary");
			    $(this).html("Suivre");
			    $.ajax({
			    	method: "POST",
		            url: "{% url 'unfollow_artist_ajax' %}",
		            data: {"id_artist_unfollow": $(this).data("id"),
		            	   "csrfmiddlewaretoken": "{{ csrf_token }}"
		        	},
		            success: function(){
		            }
			    })
			    var nb_followers = $("#nb_followers_artist").html();
				$("#nb_followers_artist").html(parseInt(nb_followers) - 1);
			});
	</script>
</html>